<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/home.css">


<div class="container">
    <h1 class="title fade-in">
        hello, alvin :)
    </h1>
    <p>
        welcome to your 2021 daily goal tracker
    </p>
    <div class="btn-row">
        <form method='GET' action="/dailyreport">
            <button class="btn">
                insert data
            </button>
        </form>
        
        <form method='GET' action="/manage">
            <button class="btn">
                manage data
            </button>
        </form>
        
        <form method='GET' action="/overview">
            <button class="btn">
                overview 
            </button>
        </form>
    </div>
    
</div>


