<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/manage.css">

<form method='GET' action="/">
    <button class="btn" id="back-btn">
        back
    </button>
</form>

<div class="container">
    <h1 class="title fade-in">
        manage your data
    </h1>
    <p>what do you need to manage?</p>
    
    <div class="btn-row">
        <form method='GET' action="/managePushups">
            <button class="btn">
                pushups
            </button>
        </form>
        
        <form method='GET' action="/manageFood">
            <button class="btn">
                food
            </button>
        </form>
        
        <form method='GET' action="/managePiano">
            <button class="btn">
                piano
            </button>
        </form>
        
        <form method='GET' action="/manageExercise">
            <button class="btn">
                exercise
            </button>
        </form>
        
        <form method='GET' action="/manageCode">
            <button class="btn">
                code
            </button>
        </form>
        
        <form method='GET' action="/manageChess">
            <button class="btn">
                chess
            </button>
        </form>
    </div>
</div>
