<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/home.css">

<div class="container">
    <h1 class="title fade-in">
        Thank you, your data has been recorded!
    </h1>
    <p>make it a great day or not, the choice is yours</p>
    <div class="btn-row">
        <form method='GET' action="/">
            <button class="btn">
                go back to home page
            </button>
        </form>
        
        <form method='GET' action="/overview">
            <button class="btn">
                see changes in overview
            </button>
        </form>
    </div>

</div>
