* {
    font-family: Lato, sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
/* Splitting the page in two halves */
.split-containers {
    display: flex;
    justify-content: space-between;
}

/* Right side, title + title description */
.container {
    text-align: right;
    width: 50%;
}

.text-container {
    margin-top: 30%;
    margin-right: 5%;
}

.title {
    font-size: 10vh;
    margin-bottom: 0px;
    font-weight: 400;
}

p {
    font-size: 2.5vh;
    font-weight: 300;
}

.fade-in{
    animation: fadeIn ease 3.5s;
    -webkit-animation:fadeIn ease 3.5s;
}
  
@keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}


/* button design */
.btn {
    background-color: #81d4fa;
    border: none;
    border-radius: 5%;
    color: white;
    padding: 12px;
    cursor: pointer;
    font-weight: 400;
    margin-left: 1px;
}

.btn:hover {
    opacity: 0.8;
}

#back-btn {
    background-color: #92a0ad;
}


/* table header design */
th {
    text-align: left;
}

span {
    border-bottom: 1px solid black;
}

.action-col {
    display: flex;
    justify-content: flex-start;
}




/* Form styling */
form {
    margin: 0px;
    padding: 0px;
}

.editForm-date, .editForm-desc, .editForm-count,
.editForm-time, .editForm-miles, .editForm-calories,
.editForm-win, .editForm-loss {
    position: absolute;
    visibility: hidden;
    padding: 3px;
}

.editForm-date, .editForm-count, 
.editForm-time, .editForm-miles, .editForm-calories {
    font-size: 11.8px;
}

.editForm-desc {
    font-size: 12.9px;
}


.editForm-win, .editForm-loss {
    font-size: 12px;
}


.data-row-date, .data-row-time,
.data-row-miles, .data-row-calories {
    width: 170px;
}

.data-row-count {
    width: 200px;
}

.data-row-description {
    width: 400px;
}

.data-row-chess-desc {
    width: 400px;
}

.data-row-win, .data-row-loss {
    width: 100px;
}